*
{
    margin: 0px;
    padding: 0px;
}



.navbar
{
    margin: 0%;
}
.bi-chat-left-fill
{
    color: rgb(86, 170, 139);
    margin-left: 5%;
}
.icon
{
    color: rgb(3, 3, 99);
    text-decoration: center;
    margin-left:45%;
    margin-bottom: 5%;

}
.icon2
{
    margin-left: 60%;
    color: green;
}
.icon3
{
    margin-left: 52.9%;
    color: green;
}
.icon4
{
    margin-left: 68.8%;
    color: green;
}
.icon5
{
    margin-left: 75.7%;
    color: green;
}
.icon6
{
    padding-top: 5%;
    color: rgb(4, 105, 4);

}
.navbar-brand 
{
    font-weight: bold ;
    color:rgb(3, 3, 99) ;
   
}
.button
{
    background-color: rgb(86, 170, 139);
    color: white;
    border: none;
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
}
.leftSection
{
    width: 50%; 
    position: relative;
    left:5%;
}

.rightSection
{
    width: 50%;
}

.container2
{
   background-color: #f0f0f0;
   width: 100%;
   display: flex;
}
.tree
{
    width: 70%;
    position: relative;
    bottom: -20px;  
    top: 10%;
}
.mini-section
{
    background-color: white;
    position: absolute;
    right: 5%;
    top: 35%;
    height: 200px;
    width:200px;
    text-align: center;
    padding-top: 10px;

}
.text
{
    position: absolute;
    top: 22%;
}
.button2
{
    background-color: rgb(86, 170, 139);
    color: white;
    border: none;
    display: inline-block;
    border-radius: 12px;
    padding: 10px 40px 10px 40px;
  
}
   
.explanation
{
    color: rgb(56, 56, 152);
    font-weight: lighter;
}
.big-text 
{
   font-weight: bold;
   color: rgb(3, 3, 99);
   font-size: 60px;
   line-height: normal;
}
.light-text
{
    font-weight: lighter;
    color: rgb(162, 162, 162);
    line-height: 2px;
}
.light-text2
{
    font-weight: lighter;
    color: rgb(162, 162, 162);
    line-height: 2px;
    text-align: center;
    margin-top: 10%;

}
.light-text3
{
    font-weight: lighter;
    color: rgb(162, 162, 162);
}

.button3
{
    background-color: rgb(86, 170, 139);
    text-align: center;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 40px 10px 40px;
    width: 200px;
   


}

.statement
{
    text-align: center;
    color: gray;
    font-weight: 500;
    margin-top: 5%;
}
.logos
{
    display: flex;
    justify-content: space-around;
    color: rgb(116, 110, 110);
    font-weight: bolder;
    margin-bottom: 5%;
}
.logo
{
    display: flex;
}

.section2 
{
    background-color: #f0f0f0;
  

    
   
}
.section2 h5
{
    text-align: left;
    color:  rgb(3, 3, 99);
    font-size: 30px;
    font-weight: bold;
 
}
.boxes
{
    display: flex;
    padding-bottom: 5%;
    color: rgb(75, 74, 74);
    font-size: 20px ;
    padding-left: 5%;
    width: 100%;
    justify-content: space-evenly;
   
}
.bold
{
    font-weight: bold;

}
.box1
{
   
    background-color: white;
    width: 30%;
    padding: 5%;
}
.box1 h4
{
    font-weight: 750;
    color: rgb(86, 170, 139);
    font-size: 30px;
}
.box2
{
   
    background-color: white;
    width: 30%;
    height: 90%;
    padding: 5%;
}
   


.box2 h4
{
    font-size: 30px;
    color: lightgray;
}
.box3
{
    background-color: white;
    width: 30%;
    padding: 5%;
}
    

.box3 h4
{
    font-size: 30px;
    color: lightgray;
}

.box1:hover, .box2:hover, .box3:hover
{
    background-color: whitesmoke;
    border: dotted;
    border-color: rgb(64, 175, 153);
    border-radius: 8px;
}
.topic
{
    color:  rgb(3, 3, 99);
    font-weight: bold;
    text-align: center;
    font-size: 30px;

}
.topic1
{
    color:  rgb(3, 3, 99);
    font-weight: bold;
    text-align: center;
    font-size: 35px;

}
.paragraph
{
    font-weight: lighter;
    text-align: center;
    color:  rgb(71, 71, 93);

}
.subtopic
{
    font-size: 20px;
    font-weight: bold;
    color: rgb(3, 3, 99);
    line-height: 5px;
    text-align: center;
}
.paragraph2
{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: gray;
}
.grid-container
{
    display:grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding-top:40px;
}
.image
{
    border-radius: 50%;
    width: 120px;
    margin-left: 10px;
}
.image2
{
    border-radius: 50%;
    width: 100px;
    margin-left: 10px;
}
#accordion
{
    width: 60%;
    margin-left: 20%;

}
.accordion-body
{
   
    color: rgb(73, 72, 72);
    text-align: left;
}
.accordion-button
{
   
    color: black;
    font-weight: 500;
}
.Accordion 
{
    margin-top: 150px;
}
.accordion-button::after
{
    display: none;
}
.container
{
    border-radius: 20px;
    margin-top: 10%;
    background-color:#f7f7f7;;
    width: 75%;
   display: flex ;
   flex-direction: column;
   align-items: center;
  text-align: center;
  padding: 20px;
    
    
}
.explanation2
{
    color: rgb(56, 56, 152);
    font-weight: lighter;
   
    
}

.explanation2 h6
{
    color: rgb(3, 3, 99);
    font-weight: bold; 
   
  

}
.explanation2 p
{
    color: rgb(3, 3, 99);
    font-weight: lighter;
   
   

}


.black-text
{
    color: black;
    font-weight: 400;
}
.sentence
{
    color: gray;
    font-weight: 400;
    padding-top: 20%;
}
.container3
{
     background-color:#f0f0f0;
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
    
}

.text-left h5
{
    color: rgb(3, 3, 99);
    font-weight: bold; 
    margin-left: 5%;
    
   
   
}
.text-left p
{
    color: rgb(3, 3, 99);
    font-weight: lighter;
   margin-left: 5%;
   
  

}
.button4
{
    background-color: rgb(86, 170, 139);
    color: white;
     border: none;
    border-radius: 8px;
    text-align: center;
    height: 40px;
    width: 150px;
    margin-left: 10px;
    
}

#email
{
  border-radius: 8px;
  width: 250px ;
  resize: both;
  padding: 5px;

}
.text-left
{
    width: 50%;

}
.emailForm
{
    width: 50%;
    display: flex;
    justify-content: center;
}

.summary
{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.list a
{
    text-decoration: none;
    color: rgb(170, 170, 170);
   
    
}
.title0
{
    background-color: white;
    margin-left: 5%;
}
hr
{
    color: gray;
    
}
.footer
{
    float: right;
    margin-right: 80px;
    color: gray;
}


@media screen and (max-width: 767px)
{
    .logos
    {
        display: list-item;
    }
    .emailForm
    {
        flex-direction: column;
    }
    .container3
    {
        flex-direction: column;
    }
    .grid-container
    {
        grid-template-columns: auto;
    }
    .boxes
    {
        flex-direction:column ;
        align-items: center;
    }
    .box1
    {
        width: 80%;
    }
    .box2
    {
        width: 80%;
    }
    .box3
    {
        width: 80%;
    }
    .text
    {
        position: unset;
        padding-top: 10px;
    }
    .leftSection
    {
        width: 100%;
    }
    .rightSection
    {
    width: 100%;
    }
    .container2
    {
        flex-direction: column;
    }
    .mini-section
    {
        right: 4%;
        top: 65%;
        height: 148px;
        width: 148px;
    }
    .button4
    {
        margin: 10px 0px 10px 0px;
    }
   

    

   

    
    
}




